<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><!-- TODO: enter layout title --></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- TODO: uncomment and add png or remove --><!-- link rel="apple-touch-icon" href="/apple-touch-icon.png" -->

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="/assets/modernizr.js"></script>  <!-- http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js -->
  </head>
  <body>

    <div id="container">
      <header>

      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>

      </footer>
    </div> <!-- eo #container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/<%= "#{Jquery::Rails::JQUERY_VERSION}" %>/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='/assets/jquery.js'>\x3C/script>")</script>

    <%= javascript_include_tag "jquery_ujs" %><!-- not on cdn yet -->
    <%= javascript_include_tag "application" %>

    <%= render :partial => "shared/dd_belatedpng" %>
    <%= render :partial => "shared/google_analytics" %>
  </body>
</html>
